

<h1>History</h1>


<h2> Past Bookings for this room</h2>
<table class="table">
	<tr><th>User Name</th><th>Date and Time</th></tr>
	<% @prev.each do |b| %>
		<tr><th><%=@users.find(b.user_id).name%></th><th><%=b.datetime%></th></tr>
	<%end%>
</table>



<h2> Upcoming Bookings for this room</h2>
<table class="table">
	<tr><th>User Name</th><th>Date and Time</th></tr>
	<% @upcoming.each do |b| %>
		<tr><th><%=@users.find(b.user_id).name%></th><th><%=b.datetime%></th></tr>
	<%end%>
</table>
