
  <h2>Book a room</h2>

  <form action="find" method="get">
  <label>Choose a building:</label>
  <select name="building" >
      <option value="Hunt" selected="selected" >James B. Hunt Jr. Library</option>
      <option value="Hill" >D. H. Hill Library</option>
  </select>

  <label>Choose a room size:</label>
  <select name=size>
  	<option value="4"  selected="selected"> small(4 seats) </option>
  	<option value="6"  > Medium(6 seats) </option>
  	<option value="12" > Large(12 seats) </option>
  </select>

  <label> Preferred starting date and time:</label>

 <input type="datetime" name="datetime">
  <div class="field">
  <input type="hidden" name="user_id" value="<%= @user_id%>">
  </div>

  


  <button type="submit" name="submit" value="submit">Search</button> 
  </form>
