
  <h1>Book a room</h1>
  <form action="find" method="get">
  James B Hunt
  <input type="radio" name="building" value="Hunt">
  D H Hill
  <input type="radio" name="building" value="Hill">

  4 seats
  <input type="radio" name=size value="4">
  6 seats
  <input type="radio" name=size value="6">
  12 seats
  <input type="radio" name=size value="12">

  <div class="field">
  <input type="hidden" name="user_id" value="<%= @user_id%>">
  </div>
<input type="datetime" name="datetime">


  <input type="submit" name="submit" value="submit">

  

