<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> No messages for the given user</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    
  </div>

  <div>
       <%if(session[:user]) %>
       <%if(@user["messages"]!='') %>
          <% @msgArray.each do |m| %>
            <div>
              <%= m%>
            </div>
          <%end %>
       <%else%>
       No messages to show!
       <%end%>
       <%end%>
     </div>
<%end%>
