
<h1>   <title>Login Form</title>
 </h1>
  <body>
    <h1>Login</h1>
    <form method="post" action="/users/login">
        <input type="text" name="email" placeholder="email" required="required" />
        <input type="password" name="password" placeholder="password" required="required" />
        <button type="submit" class="btn btn-primary">Log in</button>
    </form>
    <form action="/users/new">
    <input type="submit" value="Sign up" class="btn btn-success" />
</form>
<div>
<p id="notice"><%= notice %></p>

</div>
  </body>